/build/
/bin/
/lib/*
/out/
/target/
gradle.properties
config.properties
/textclassifier2_core/build/
/textclassifier2_core/out/
/textclassifier2_core/gradle.properties
/textclassifier2_service/build/
/textclassifier2_service/out/
/textclassifier2_gateway/build/
/textclassifier2_gateway/out/

